html {
	background-color: rgba(253, 255, 253, 1);
}

body {
	padding: 0 25px;
}

a {
	position: relative;
}

a:hover::before, a:focus-visible::before {
	position: fixed;
	content: 'Hold Ctrl (🍏Cmd) to open link in a new tab';
	background-color: white;
	padding: 5px;
	border: 1px dotted rgba(0, 133, 10, 1);
	border-radius: 10px;
	color: black;
	font-size: 10px;
	text-decoration: none;
	top: 5px;
	right: 5px;
	width: 100px;
	line-height: 12px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	body {
		padding: 0 10px;
	}

	ul {
		padding-left: 1.2em;
	}

	ul li {
		list-style: circle;
	}
}

ul {
	margin: .6em 0 1em;
}
