html {
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(33, 33, 33, 1);
}

*, *::before, *::after {
	outline-offset: 1px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.8em 0 0.2em;
}

a {
	color:rgba(0, 133, 10, 1);
	text-decoration-thickness: 3px;
	text-underline-offset: 5px;
	text-decoration-skip-ink: none;
}

a:hover, a:focus-visible {
	outline: none;
	text-decoration-color: tomato;
}

li {
	line-height: 1.7em;
}

ul li:not(:last-child) {
	margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 28px;
		margin: 0.8em 0 0.2em;
	}

	h2 {
		font-size: 20px;
		margin: 0.8em 0 0.2em;
	}

	h3, h4, h5, h6 {
		font-size: 16px;
		margin: 0.8em 0 0.2em;
	}
}
