---
import Layout from '~/Layout.astro';
const title = '👋 Hello, my name is Danila';
const desc =
	'I am Frontend Web Developer on Vue.js and this is the page about me, my work, projects, and other stuff';
const lang = 'en';
---
<Layout {title} {desc} {lang}>
	<h1>👋 Hi, I’m Danila</h1>
	<p>
		<a href='/ru'>RU</a>
	</p>
	<p>
		I'm a frontend developer specializing in Vue.js and accessibility. I also
		have experience with Nuxt.js, TypeScript and modern JavaScript in my
		arsenal. I strive to create efficient and accessible interfaces that look
		and work great.
	</p>
	<h2>My experience</h2>
	<ul>
		<li>
			Feb. 2023 - Today | <a href='https://hyperskill.org/'>Hyperskill</a>:
			Frontend expert and author of educational articles;
		</li>
		<li>
			Jan. 2021 - Tody | <a href='https://freshauto.ru/'>Fresh Auto</a>:
			Frontend developer, including working on complex projects;
		</li>
		<li>
			Dec. 2021 - Apr. 2022 |{' '}
			<a href='https://consult.rosdorspk.ru/'>ROSDOR Research Institute</a>:
			Fullstack developer, setting up a consulting center;
		</li>
		<li>
			Sep. 2020 - Aug. 2021 | <a href='https://officetower.ru/'>OfficeTower</a>:
			Freelance developer, creating a website to sell offices.
		</li>
	</ul>
	<h2>What I do</h2>
	<ul>
		<li>
			<strong>Code creation</strong>: Working with Vue.js versions 2 and 3,
			composition and options API, customizing bandlet builders, test coverage;
		</li>
		<li>
			<strong>Teaching</strong>: Authoring articles and mentoring in frontend;
		</li>
		<li>
			<strong>Collaboration</strong>: Easy to find common ground with colleagues
			and ready for open dialog to achieve project goals.
		</li>
	</ul>
	<h2>About me</h2>
	<ul>
		<li>
			<strong>Education</strong>: Programmer with secondary professional
			education and certificate in Unix systems administration;
		</li>
		<li>
			<strong>Languages</strong>: Russian native and English level B2;
		</li>
		<li>
			<strong>Personal qualities</strong>: Persistent, constantly learning, easy
			to communicate.
		</li>
	</ul>
	<h2>Links</h2>
	<ul>
		<li>
			<a href='https://github.com/katokdoescode'>GitHub</a>
		</li>
		<li>
			<a href='https://www.linkedin.com/in/bdanila/'>LinkedIn</a>
		</li>
		<li>
			<a href='https://htmlacademy.ru/profile/katok'>Profile on htmlacademy</a>
		</li>
		<li>
			<a href='/experience'>More about my experience</a>
		</li>
	</ul>
	<h2>More</h2>
	<p>Living in Georgia (country). I am ready to relocate.</p>
	<p>
		I am always open to new projects and ideas. Email me at{' '}
		<a href='mailto:danila@katokdoes.art'>danila@katokdoes.art</a> and let's
		discuss how I can help your business grow!
	</p>
	<p>
		<a href='https://github.com/katokdoescode/katokdoes.art'>
			View this page on GitHub
		</a>
	</p>
</Layout>
