---
import Layout from '~/Layout.astro';
const title = '👋 Привет, меня зовут Данила';
const desc = 'Я фронтенд разработчик, а это страница обо мне, моей работе, проектах и прочем';
const lang = 'ru';
---

<Layout {title} {desc} {lang}>
	<h1>👋 Привет, я Даня</h1>
	<p><a href='/'>ENG</a></p>
	<p>
		Я фронтенд разработчик, специализирующийся на Vue.js и доступности в вебе. В
		моем арсенале также есть опыт работы с Nuxt.js, TypeScript и современным
		JavaScript. Я стремлюсь создавать эффективные и доступные интерфейсы,
		которые выглядят и работают отлично.
	</p>
	<h2>Опыт работы</h2>
	<ul>
		<li>
			Фев. 2023 - По сей день | <a href='https://hyperskill.org/'>Hyperskill</a
			>: Эксперт по Frontend и автор образовательных статей;
		</li>
		<li>
			Янв. 2021 - По сей день | <a href='https://freshauto.ru/'>Fresh Auto</a>:
			Фронтенд разработчик, включая работу над сложными проектами;
		</li>
		<li>
			Дек. 2021 - Апр. 2022 | <a href='https://consult.rosdorspk.ru/'
				>РОСДОРНИИ</a
			>: Фуллстек веб разработчик, создание консультационного центра;
		</li>
		<li>
			Сен. 2020 - Авг. 2021 | <a href='https://officetower.ru/'>OfficeTower</a>:
			Фриланс фронтенд разработчик, создание сайта для продажи офисов.
		</li>
	</ul>
	<h2>Чем я занимаюсь</h2>
	<ul>
		<li>
			<strong>Создание кода</strong>: Работа с Vue.js версиями 2 и 3,
			composition и options API, настройка сборщиков бандлов, покрытие тестами.
		</li>
		<li>
			<strong>Обучение</strong>: Авторство статей и наставничество в области
			фронтенда.
		</li>
		<li>
			<strong>Сотрудничество</strong>: Легко нахожу общий язык с коллегами и
			готов к открытому диалогу для достижения целей проекта.
		</li>
	</ul>
	<h2>Обо мне</h2>
	<ul>
		<li>
			<strong>Образование</strong>: Программист с средним профессиональным
			образованием и сертификатом по администрированию Unix систем.
		</li>
		<li><strong>Языки</strong>: Русский и английский.</li>
		<li>
			<strong>Личные качества</strong>: Упорный, постоянно учусь, легко общаюсь
		</li>
	</ul>
	<h2>Ссылочки</h2>
	<ul>
		<li><a href='https://github.com/katokdoescode'>GitHub</a></li>
		<li><a href='https://www.linkedin.com/in/bdanila/'>LinkedIn</a></li>
		<li>
			<a href='https://htmlacademy.ru/profile/katok'>Профиль htmlacademy</a>
		</li>
		<li><a href='/experience/ru'>Вот ещё про мой опыт работы</a></li>
	</ul>
	<h2>Ещё</h2>
	<p>Живу в Сакартвело (Грузия), но сейчас готов к переезду куда угодно.</p>
	<p>
		Я всегда открыт для новых проектов и идей. Напиши мне <a
			href='mailto:danila@katokdoes.art'>danila@katokdoes.art</a
		> и давай обсудим, как я могу помочь вашему бизнесу расти!
	</p>
	<p>
		<a href='https://github.com/katokdoescode/katokdoes.art'
			>Эту страничку можно посмотреть и на GitHub</a>
	</p>
</Layout>
