html {
  background-color: var(--color-bg-main);
}

body {
  padding: 0 25px;
}

a {
  position: relative;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  ul {
    padding-left: 1.2em;
  }

  ul li {
    list-style: circle;
  }
}

ul {
  margin: 0.6em 0 1em;
}

@view-transition {
  navigation: auto;
  types: slide, forwards;
}
