html {
  background-color: var(--color-bg-main);
}

body {
  padding: 0 25px;
}

a {
  position: relative;
}

a:hover::before,
a:focus-visible::before {
  position: fixed;
  content: "Hold Ctrl ( Cmd) to open link in a new tab";
  background-color: var(--color-bg-main);
  padding: 5px;
  border: 1px dotted var(--color-secondary);
  border-radius: 10px;
  color: var(--color-main);
  font-size: 10px;
  text-decoration: none;
  top: 5px;
  right: 5px;
  width: 100px;
  line-height: 12px;
  text-align: center;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  ul {
    padding-left: 1.2em;
  }

  ul li {
    list-style: circle;
  }
}

ul {
  margin: 0.6em 0 1em;
}
