/* Switcher */

.switcher {
	position: absolute;
	top: 0;
	right: 1.5em;
	margin: 0;
	margin-left: -50px;
	padding: 2px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 2px solid var(--color-main);
	background-color: var(--color-bg-main);
	border-radius: 2em;
}

/* Switcher Legend */

.switcher__legend {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Switcher Radio */

.switcher__radio {
	-webkit-appearance: none;
	appearance: none;
	visibility: hidden;
	margin: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.switcher__radio:checked + label {
	background-color: var(--color-main);
}

.switcher__radio + label {
	aspect-ratio: 1;
	display: grid;
	place-content: center;
	border-radius: 50%;
	box-sizing: border-box;
	color: var(--color-main);
	padding: .2em .5em;
	cursor: pointer;
	transition: background-color linear .2s;
}

.switcher__radio:focus {
	outline: none;
}
